body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #e5ddd5;
}

.container {
  max-width: 450px;
  margin: auto;
  height: 100vh;
  background: #efeae2;
  display: flex;
  flex-direction: column;
}

h1 {
  background: #075e54;
  color: white;
  text-align: center;
  padding: 15px;
  margin: 0;
}

#chat {
  flex: 1;
  overflow-y: auto;
  padding: 15px;
}

.msg {
  background: white;
  padding: 10px;
  margin: 8px;
  border-radius: 10px;
  width: fit-content;
  max-width: 75%;
}

.msg small {
  display: block;
  font-size: 11px;
  color: gray;
  text-align: right;
}

.input-box {
  display: flex;
  padding: 10px;
  background: white;
}

.input-box input {
  flex: 1;
  padding: 10px;
  margin-right: 5px;
}

button {
  background: #075e54;
  color: white;
  border: none;
  padding: 10px 15px;
}
